version: '3.8'
services:
  db:
    image: postgres:13
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
  redis:
    image: redis:7
    ports:
      - "6379:6379"
  web:
    build: .
    command: daphne config.asgi:application --port 8000 --bind 0.0.0.0 -v2
    volumes:
      - .:/app
    expose:
      - 8000
    ports:
      - "80:80"
    depends_on:
      - db
      - redis