version: '3.8'
services: 
  web:
    build: .
    image: chatting_web:latest
    command: daphne config.asgi:application --port 8001 --bind 0.0.0.0 -v2
    volumes:
      - static_volume:/usr/src/app/_static
      - ./:/usr/src/app/
    expose:
      - 8001
    env_file:
      - ./.env.prod
    depends_on:
      - db
      - redis

  nginx:
   image: nginx:latest
    container_name: nginx-container
    ports:
      - "80:80" # 외부 접속 포트
  volumes:
    - ./nginx.conf:/etc/nginx/nginx.conf:ro # 설정 파일 마운트
  depends_on:
      - web
  
  
  db:
    image: postgres:13
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
  redis:
    image: redis:7
    ports:
      - "6379:6379"