asgiref
attrs
autobahn
Automat
cbor2
cffi
channels
channels_redis
constantly
cryptography
daphne
Django
django-cors-headers
djangorestframework
hyperlink=
idna=
Incremental
msgpack=
packaging
py-ubjson
pyasn1
pyasn1_modules
pycparser
pyOpenSSL
service-identity
sqlparse
Twisted
txaio
typing_extensions
tzdata
ujson
zope.interface