{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <form method="post" action="{% url 'common:pwd_change' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">  <!-- 로그인 성공후 이동되는 URL -->
        {% include "form_errors.html" %}
        <div class="mb-3">
            <label for="old_pwd">기존비빌번호를 입력해 주세요</label>
            <input type="password" class="form-control" name="old_pwd" id="old_pwd" >
        </div>
        <div class="mb-3">
            <label for="new_pwd">새 비밀번호를 입력해 주세요</label>
            <input type="password" class="form-control" name="new_pwd" id="new_pwd" >
        </div>
        <div class="mb-3">
            <label for="new_pwd_confirm">새 비밀번호 확인을 입력해 주세요 </label>
            <input type="password" class="form-control" name="new_pwd_confirm" id="new_pwd_confirm" >
        </div>
         {% if user.is_authenticated %}
        <div class="mb-3">
            <a href="/">처음으로 돌아가기</a>
        </div>
        {%else%}
        <div class="mb-3">
            <a href="/common/login/">로그인으로 돌아가기</a>
        </div>
        {%endif%}
        <button type="submit" class="btn btn-primary">변경</button>
    </form>
</div>
{% endblock %}